<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <ProjectGuid>DC0C4F95-011D-41DB-A695-9EBFD7B117C9</ProjectGuid>
        <MSDeployServiceURL>10.34.149.9</MSDeployServiceURL>
        <DeployIisAppPath>aux-it/notifications</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>true</EnableMSDeployBackup>
        <UserName/>
        <_SavePWD>false</_SavePWD>
        <SiteUrlToLaunchAfterPublish/>
        <SelfContained>false</SelfContained>
        <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    </PropertyGroup>
</Project>
